#ShellCrash配置文件，不明勿动！
start_old=ON
versionsh_l=
firewall_mod=iptables
my_alias=crash
initdir=/jffs/scripts/nat-start
systype=asusrouter
userguide=1
redir_mod=混合模式
dns_mod=mix
firewall_area=1
cn_ip_route=ON
cpucore=arm64
mrs_geosite_cn_v=20260316
external_ui_url=https://github.com/Zephyruso/zashboard/releases/latest/download/dist-cdn-fonts.zip
hostdir=':9999/ui'
update_url='https://testingcf.jsdelivr.net/gh/juewuy/ShellCrash@master'
url_id=104
release_type=stable
crashcore=meta
core_v=v1.19.29
custcorelink=
server_link=3
Url=
Https='REDACTED_SUBSCRIPTION_URL'
sniffer=ON
authentication='REDACTED_USER:REDACTED_PASS'
dns_nameserver='223.5.5.5, 119.29.29.29'
dns_fallback='https://1.1.1.1/dns-query, https://doh.pub/dns-query'
dns_resolver='223.5.5.5, 2400:3200::1'
multiport='22,80,443,8080,8443,10301'
common_ports=ON
